{% extends 'base.html.twig' %}

{% block title %}Edition du compte{% endblock %}

{% block body %}
<h2>Edition du compte</h2>

    {% if app.user.photoFilename %}
        <div class="w-25">
            <a href="{{ path('app_crop_image') }}"><img class="img-fluid" src="{{ asset('uploads/photos/users/'~app.user.photoFilename) }}" alt=""></a>
        </div>
    {% endif %}

    {{ form_start(userForm) }}
    <div class="mb-3">
        {{ form_label(userForm.email, 'Votre courriel', {'label_attr': { 'class': 'form-label' }}) }}
        {{ form_errors(userForm.email) }}
        {{ form_widget(userForm.email, {'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="mb-3">
        {{ form_label(userForm.password, 'Votre mot de passe', {'label_attr': { 'class': 'form-label' }}) }}
        {{ form_errors(userForm.password) }}
        {{ form_widget(userForm.password, {'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="mb-3">
        {{ form_label(userForm.photo, 'Votre photo de profil', {'label_attr': { 'class': 'form-label' }}) }}
        {{ form_errors(userForm.photo) }}
        {{ form_widget(userForm.photo) }}
    </div>
    <div class="mb-3">
        {{ form_widget(userForm.submit, {'attr': { 'class': 'btn btn-primary' }}) }}
    </div>
    {{ form_end(userForm) }}
{% endblock %}



