{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
<div
    class="container-fluid mt-4"
    {{ stimulus_controller('reload-content', {
        url: path('post_admin_index', { ajax: 1 })
    }) }}
    data-action="modal-form:success->reload-content#refreshContent"
>

    <div class="d-flex align-items-center">
        <h1 class="me-3">Post index</h1>
        <div {{ stimulus_controller('modal-form', {formUrl: path('post_admin_new')} ) }}
            data-action="hidden.bs.modal->modal-form#modalHidden"
        >
            <button
                class="btn btn-primary btn-sm"
                data-action="modal-form#openModal">Add</button
            >
            {{ include('_modal.html.twig', {modalTitle: 'Ajouter un nouvel article'}) }}
        </div>
    </div>
    <div data-reload-content-target="content">
        {{ include('post_admin/_list.html.twig') }}
    </div>
    <a href="{{ path('post_admin_new') }}">Create new</a>
</div>
{% endblock %}
