{% extends 'base.html.twig' %}

{% block title %}S'enregistrer - {{ parent() }}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    <div class="mb-3">
        {{ form_label(registrationForm.email, 'Votre courriel', {'label_attr': { 'class': 'form-label' }}) }}
        {{ form_errors(registrationForm.email) }}
        {{ form_widget(registrationForm.email, {'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="mb-3">
        {{ form_label(registrationForm.plainPassword, 'Votre mot de passe', {'label_attr': { 'class': 'form-label' }}) }}
        {{ form_errors(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword, { 'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="mb-3">
        {{ form_widget(registrationForm.agreeTerms, { 'attr': { 'class': 'form-check-input' }}) }}
        {{ form_label(registrationForm.agreeTerms, 'Veuillez accepter notre RGPD', {'label_attr': { 'class': 'form-check-label' }}) }}
        {{ form_errors(registrationForm.agreeTerms) }}
    </div>
    <button type="submit" class="btn btn-primary" formnovalidate>S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
